.logo-size {
    height: 20px;
    width: 20px;
}

.text-black {
    background-color: #372e2e;
    color: white;
    border-radius: 5px;
    text-align: left;
    width: 75%;
    border: thin;
    font-weight: bold;
    font-family: Tahoma;
}

.image-size {
    height: 500px;
    width: 500px;
}

.center-align {
    align-content: center;
}

.image-width {
    box-shadow: 50px 50px 50px 50px #000000;
    background: #000000;
}

.button-pro {
    display: inline-block;
}

