.blackColour {
    background-color: #191414;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.buttonSize {
    height: 34px;
    width: 75px;
}

.fontLink {
    font-size: 15px;
}